:root {
    font-size: 10px;
}

body {
    font-size: 1.6rem !important;
    color: #333;
}

/** Handle for responsive **/

@media screen and (max-width: 1536px) {
    :root {
        font-size: 10px;
    }
}

@media screen and (max-width: 1440px) {
    :root {
        font-size: 9.5px;
    }
}

@media screen and (max-width: 1280px) {
    :root {
        font-size: 9px;
    }
}

@media screen and (max-width: 1024px) {
    :root {
        font-size: 8.5px;
    }
}
